@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Cormorant+SC:wght@300&family=Hanken+Grotesk:wght@300&display=swap');

.body-div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Assistant', sans-serif;
    background-color: #526782;
}


#add-user-form {
    width: 30%;
    font-weight: bold;
}

#login-form {
    width: 30%;
    font-weight: bold;
}

textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table td, table th {
    border: 3px solid transparent; /* Set the border color to transparent */
    border-bottom: 3px solid white;
    padding: 8px;
  }
  
table tr{
    background-color: #7388A4;

}

table tr{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;

}
  
table tr:hover {background-color: #657489;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #657489;
    color: white;
    letter-spacing: 4px;
  }

#errorContainer {
    margin-bottom: 0px;
}

/* Add styles for the alert message inside the container */
#errorContainer .alert {
    background-color: #f2dede; /* Light red background color */
    color: #a94442; /* Dark red text color */
}

.create-post-button {
    background-color: white;
    width: 60%;
    margin-top: 30px;
  }

  .create-post-button button{
    font-family: 'Assistant';
    font-weight: 700!important;
    letter-spacing: 4px;

  }