.body-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-user-form {
    width: 30%;
    font-weight: bold;
}

#login-form {
    width: 30%;
    font-weight: bold;
}

textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ebbd25;
    color: white;
  }

#errorContainer {
    margin-bottom: 0px;
}

/* Add styles for the alert message inside the container */
#errorContainer .alert {
    background-color: #f2dede; /* Light red background color */
    color: #a94442; /* Dark red text color */
}
