body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the body height to 100vh */
    display: flex;
    flex-direction: column;
}

.body-div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex: 1;
}

/* Set the height of the inner divs to 100% */
.row > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Add this if you want to make the button divs fill the height of their parent */
.row {
    height: 100%;
}

.form-control{
    background-color: #526782!important;
    border:none!important;
    border-bottom: 3px solid #ffffff!important; 
    outline: none!important; 
    padding: 5px 0!important; 
    border-radius: 0px!important;

  }

  .form-control::placeholder{
    color: white!important;
    letter-spacing: 5px!important;
    font-weight: 700!important;

  }

  .create-user-button {
    background-color: white;
    width: 60%;
    margin-top: 30px;
  }

  .create-user-button button{
    font-weight: 700!important;
    letter-spacing: 4px;

  }

  /* Style for the placeholder option */
#fieldOfStudy option[disabled] {
    color: white !important;
}

a:hover,
a:active {
    font-size: 100%;
}

.btn:hover,
.btn:active {
    font-size: 110%;
}
